<mat-sidenav-container class="sidenav-container">
  <!-- Sidenav -->
  <mat-sidenav #sidenav mode="over" class="sidenav" [fixedInViewport]="true" [fixedTopGap]="0">
    <!-- Close button at the top of sidenav -->
    <div class="sidenav-header">
      <button
        mat-icon-button 
        (click)="toggleMenu()"
        aria-label="Close navigation menu"
        class="close-button">
        <mat-icon>close</mat-icon>
      </button>
      <span class="sidenav-title">Menu</span>
      </div>
    <mat-nav-list>
      <a mat-list-item *ngFor="let item of menuItems" (click)="scrollToSection(item.id)"
        [class.active]="activeSection === item.id">
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <span matListItemTitle>{{ item.label }}</span>
        </a>
    </mat-nav-list>
    </mat-sidenav>
    
    <!-- Main content -->
    <mat-sidenav-content>
      <!-- Toolbar with hamburger button -->
      <mat-toolbar class="toolbar">
        <button mat-icon-button (click)="toggleMenu()" aria-label="Toggle navigation menu">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="toolbar-title">Portfolio</span>
      </mat-toolbar>
    </mat-sidenav-content>
    </mat-sidenav-container>
