
* {
    box-sizing: border-box;
    font-family: "Varela Round", Sans-serif;
    color: #3a4268;
    margin-right: 5px;
}
body {
    margin: 0;
}
section {
    height: 100vh;
}
/* Menu Bar */
.menu-bar__container {
    position: fixed;
    height: 100%;
    width: 180px;
    padding: 0;
    padding-top: 50px;
    margin-top: 0;
    margin-left: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    flex-direction: column;
}

.menu-bar-icon {
    display: inline-block;
    cursor: pointer;
    height: 40px;
    width: 40px;
    margin: 10px;
    border-radius: 50%;
    position: fixed;
    top: 5px;
    left: 10px;
    z-index: 1;
}
.menu-bar-icon:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.bar1, .bar2, .bar3  {
    position: relative;
    background-color: #1B4965;
    border-radius: 3px;
    height: 3px;
    width: 25px;
    margin: 6px 0;
    top: 10%;
    left: 18%;
}
.change .bar1 {
  transform: translate(0, 9px) rotate(-45deg);
}
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
  transform: translate(0, -9px) rotate(45deg);
}
.menu-bar__container--items {
    display: flex;
    align-items: center;
    position: relative;
    color: #1B4965;
    height: 80px;
    width: 100%;
    padding: 25px;
    text-decoration: none;
    font-size: 15px;
    font-weight: lighter;
    word-spacing: 2.5px;
    letter-spacing: 0.12em;
}
.menu-bar__container--items:hover {
    color: #8102ce;
}
.menu-bar__container--items:active {
    color: #1B4965;
    font-weight: bold;
}
.menu-bar__container--items.active {
    color: #8102ce;
    font-weight: bold;
}
p {
    font-weight: 600;
}
ul {
    list-style-type: none;
}
.home {
    display: absolute;
    margin-left: 350px;
    margin-right: 250px;
    line-height: 1.5em;
    font-size: 15px;
}
body h1 {
    color: #1e73be;
    text-align: center;
    font-size: 20px;
    margin-top: 100px;
    margin-bottom: 35px;
    letter-spacing: 0.1em;
}
.fullname {
    color: #1e73be;
    text-align: center;
    font-size: 30px;
    padding-top: 0.83em;
    margin-top: 0;
    margin-left: 0;
}
body h2 {
    text-align: center;
    color: #1e73be;
    font-size: 20px;
}
body h3,h4 {
    color: #151e7b;
    font-size: 17px;
}
.bx {
    color: #151e7b;
}

.contact .bx {
    color: #0431b8;
}
.description {
    font-size: 20px;
    /* word-spacing: 5px; */
    /* letter-spacing: 1px; */
    line-height: 30px;
    text-align: justify;
}
/* Body
Home */
.typewriter {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 2px solid #151e7b; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  .avatar {
    height: 200px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #151e7b; }
  }

  /* contact */
.contact .container {
    display: flex;
    justify-content: center;
}
.contact .container i {
    margin-inline: 1.5rem; 
}

/* experiences */
#experiences .container {
    display: flex;
    /* justify-content: stretch; */
}
.icon {
    background-color: #1e73be;
    width: 18px;
    height: 18px;
    line-height: 18px;
    border-radius: 50%;
    margin-right: 10px;
}
.line {
    width: 1px;
    background-color: #1e73be;
    margin-left: 8px;
}
.table {
    display: flex;
}
.job {
    margin-left: 35px;
}
.time-point {
    display: flex;
    font-size: 15px;
    font-style:italic ;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #1e73be;
}
#ta ul {
    font-weight:bold;
}
#ta li {
    font-weight: normal;
    margin-left: 15px;
}
/* skills */
.skills .container {
    display: block;
    background-color: #6EC1E4;
    width: 100%;
    height: 25px;
    border-radius: 20px;
    text-align: center;
    padding: 3px;
    color:#0431b8;
    transition-timing-function: width 2s;
}
.skills p {
    color:#151e7b;
    font-weight: bold;
    font-size: medium;
}
/* honors */
.honors-content {
    margin-left: 35px;
}

/* Responsive css example */
@media only screen and (max-width: 768px) {
    .menu-bar__container {
        display: flex;
        flex-direction: row;
        bottom: 0;
        height: 80px;
        width: 100%;
        overflow-x: auto;
        align-items: center;
        background-color: #fff;
        padding: 5px;
    }
    .menu-bar__container--items {
        white-space: nowrap;
    }
    .home {
        margin-left: 70px;
        margin-right: 50px;
    }
}